.product-categories {
  display: flex;
  margin-top: 100px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.card:hover {
  background: var(--light-font-color);
  transform: scale(1.05);
  transition: all 0.3s;
}

.card-img-container {
  max-width: 300px;
}

.card-img-container img {
  width: 100%;
}

@media (max-width: 800px) {
  .product-categories {
    flex-direction: column;
  }
}
