* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  background: var(--background-texture);
  font-family: var(--paragraph-font), sans-serif;
}

main {
  max-width: 1000px;
  margin: 130px auto 0 auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
  text-align: center;
  background: var(--highlight-color);
}

header,
main,
footer {
  padding: 20px;
}
