.logo-container {
  width: 200px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.logo-img-container img {
  width: 40%;
}

.logo-container span {
  font-size: 1.5rem;
  font-family: var(--heading-font), sans-serif;
  font-weight: 600;
}

#span__orange {
  color: var(--accent-color);
}

header {
  justify-content: space-between;
  display: flex;
  background-color: var(--light-font-color);
  position: fixed;
  width: 100%;
  z-index: 1000;
}

nav {
  display: flex;
  align-items: end;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
}

li a {
  padding: 10px;
}

li a:hover,
li a.active {
  color: var(--accent-color);
}

@media (max-width: 550px) {
  nav ul {
    flex-direction: column;
  }
}
