.logo-container {
  width: 200px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.logo-img-container img {
  width: 40%;
  margin-bottom: 10px;
}

.logo-container span {
  font-size: 1.5rem;
  font-family: var(--heading-font), sans-serif;
  font-weight: 600;
}

#span__orange {
  color: var(--accent-color);
}

header {
  justify-content: space-between;
  display: flex;
  background-color: var(--light-font-color);
  position: sticky;
  top: -95px;
  width: 100%;
  z-index: 1000;
}

nav {
  display: flex;
  align-items: end;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
}

li a {
  padding: 10px;
  display: flex;
  align-items: center;
}

.icon {
  padding-left: 10px;
  height: 26px;
  width: 26px;
}

.icon.x2 {
  height: 46px;
  width: 46px;
}

li a:hover,
li a.active {
  color: var(--link-color);
  text-decoration: underline;
  font-weight: bold;
}

@media (max-width: 550px) {
  header {
    position: fixed;
    top: 0px;
  }

  nav ul {
    flex-direction: column;
  }
}
